<h3>Sign In</h3>
<p>username: frerot</p>
<p>password: 12345678</p>
<p>go ahead and post and edit blogs</p>
<form action="/admin" method="POST">
 <label for="username"><b>Username</b></label>
 <input type="text" placeholder="Enter Username" name="username" />

 <label for="password"><b>Password</b></label>
 <input type="password" placeholder="Enter Password" name="password" />

 <input type="submit" value="Login" class="btn" />
</form>
