<header class="header">
 <a href="/" class="header__logo">Admin Panel</a>
 <div class="header__button">
  <a href='/logout' style="text-decoration: none;"> <button>Logout</button></a>
 </div>
</header>
